@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{margin: 0;padding: 0;box-sizing: border-box;}
body {margin: 0;padding: 0;font-family: "Poppins", sans-serif;}
a{text-decoration: none;color: inherit;}
ul {list-style-type: none;margin: 0;padding:0}
h1,h2,h3,h4,h5,h6,p{margin:0;}
main {
    padding: 157px 0 0;
    overflow-x: clip;
}
/* Top Bar Styles */
.top-bar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 12px 180px 12px 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    background: #181614;
}
.top-bar-left{
    display: flex;
    align-items: center;
    gap: 60px;
}
.top-bar-right{
    display: flex;
    align-items: center;
    gap: 30px;
}
.top-bar a{
    display: flex;
    align-items: center;
    gap: 8px;
}
.top-bar a img{
    width: 16px;
    height: 16px;
    object-fit: contain;
}
.top-bar a span{
    font-size: 12px;
    color: #A6A19C;
    font-weight: 500;
}
/* Top Bar Styles */
/* Header Styles */
.header{
    width: 100%;
    position: fixed;
    left: 0;
    top: 38px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 180px 15px;
    /* border-bottom: 2px solid #228fce; */
    background-color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(10px);
}
.header-logo img{
    width: 250px;
    height: 90px;
    object-fit: contain;
}
.header-links{
    display: flex;
    align-items: center;
    gap: 80px;
}
.header-links li a{
    color: #000;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s all ease-in-out;
    position: relative;
}
.header-links li a::before{
    content: "";
    width: 0;
    height: 3px;
    background-color: rgb(34, 143, 206);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.4s ease-in-out;
}
.header-links li a.active,
.header-links li a:hover{
    color: #228fce;
}
.header-links li a.active::before,
.header-links li a:hover::before{
    width: 100%;
}
.header-link-tel{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    cursor: pointer;
}
.header-link-tel a{ 
    /* background-color: #228fce; */
    background: linear-gradient(220deg, #1d1944, #2291d0, #2380c3);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    transition: all 0.3s ease;
    animation: gradientAnimation 4s infinite;
}
.header-link-tel a::before{display: none;}
/* .header-link-tel a::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border: 2px solid #228fce;
    opacity: 1;
    border-radius: 50%;
    transition: 0.4s ease-in-out;
} */
.header-link-tel img{
    width: 22px;
    height: 22px;
    object-fit: contain;
    filter: invert(99%) sepia(99%) saturate(17%) hue-rotate(213deg) brightness(105%) contrast(100%);
}
.header-burger{
    display: none;
    cursor: pointer;
}
.header-mobile{
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    z-index: 20;
    transition: 0.5s ease-in-out;
}
.header-close-btn{
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    z-index: 20;
}
.header-mobile.open{
    right: 0;
}
.header-mobile-overlay{
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.5s ease-in-out;
}
.header-mobile.open .header-mobile-overlay{
    width: 100%;
}
.header-mobile .header-logo {
    display: flex;
    justify-content: center;
}
.header-mobile-inner{
    width: 85%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #FFF;
    transition: 0.5s ease-in-out;
    padding: 80px 0 0;
}
.header-mobile-links{
    flex-direction: column;
    padding: 50px;
}
/* BANNER SECTION */
.banner-section{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.banner-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
    z-index: 1;
}
.banner-slider .banner-slides{
    position: relative;
}
.banner-slider .slide-image img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.banner-slider .slide-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 180px 0;
    z-index: 3;
}
.banner-slider .slide-content h2{
    max-width: 65%;
    font-size: 80px;
    line-height: 80px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}
.banner-slider .slide-content p{
    max-width: 65%;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}
.banner-slider .slide-content a{
    font-size: 18px;
    font-weight: 600;
    padding: 18px 60px;
    color: #fff;
    /* background-color: #228fce; */
    background: linear-gradient(90deg, #1d1944, #2291d0, #2380c3);
    border-radius: 5px;
    text-transform: uppercase;
    position: relative;
    background-size: 300% 300%;
    transition: all 0.3s ease;
    animation: gradientAnimation 4s infinite;
}
.banner-slider .slide-content a span{
    isolation: isolate;
}
.banner-slider .slide-content a::before{
    content: "";
    width: 0;
    height: 100%;
    background-color: gray;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    text-wrap: nowrap;
}
.banner-slider .slide-content a:hover::before{
    width: 100%;
}
.banner-slider .slick-next,
.banner-slider .slick-prev{
    z-index: 1;
    width: 70px;
    height: 70px;
    background-color: #fff;
    box-shadow: 0px 5px 25px rgba(255, 255, 255, 0.4), 0px -2px 10px rgba(255, 255, 255, 0.6);
}
.banner-slider .slick-next::before,
.banner-slider .slick-prev::before{
    content: "";
}
.banner-slider .slick-next{
    right: 55px;
    background-image: url("../images/arrow-next.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
}
.banner-slider .slick-prev{
    left: 55px;
    background-image: url("../images/arrow-prev.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
}
/* BANNER SECTION */
/* OUR VALUES SECTION */
.our-values-section{
    width: 100%;
    padding: 100px 180px 160px;
    /* background-color: #228fce;
    background-image: url("../images/bg2.webp"); */
    background: linear-gradient(90deg, #1d1944, #2291d0, #2380c3), url("../images/bg2.webp");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-blend-mode: screen;
    position: relative;
}
.our-values-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    pointer-events: none;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}
.our-values-section .container-fluid{
    z-index: 3;
    position: relative;
}
.our-values-head{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 0 20px; 
}
.our-values-head h2{
    font-size: 80px;
    font-weight: 700;
    text-align: center;
    color: #FFF;
    margin-bottom: 60px;
    position: relative;
    display: inline-block;
}
.our-values-head h2::before{
    content: "";
    position: absolute;
    width: 8px;
    height: 90%;
    background-color: #FFF;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
}
.our-value-card{
    height: 100%;
    border: 2px solid #FFF;
    transition: 0.3s ease-in-out;
    padding: 25px 20px;
    background: linear-gradient(90deg, #1d1944, #2291d0, #2380c3);
}
.our-value-card:hover{
    border: 2px solid #FFF;
}
.value-card-img{
    width: 60px;
    height: 60px;
    background: linear-gradient(90deg, #1d1944, #2291d0, #2380c3);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    margin-bottom: 30px;
    border: 2px solid #FFF;
}
.value-card-img img{transition: 0.3s ease-in-out;}
.our-value-card:hover .value-card-img img{
    transform: scale(1.2);
}
.our-value-card h4{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #FFF;
}
.our-value-card p{
    font-size: 16px;
    font-weight: 500;
    color: #FFF;
}
/* OUR VALUES SECTION */
/* MARQUEE SECTION */
.marquee-section{
    padding: 100px 0;
    /* background: #228fce; */
    background: linear-gradient(90deg, #1d1944, #2291d0, #2380c3);
}
.marquee {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
    padding: 13px 0;
    background-color: transparent;
  }
  
  .marquee-content {
    display: flex;
    animation: scroll-left 20s linear infinite;
  }
  
  .marquee span {
    display: inline-block;
    margin-right: 60px;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    color: #FFF;
  }

  .marquee span img{
    width: 200px;
  }
  
  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
   
/* MARQUEE SECTION */
/* OUR TEAM SECTION */
.our-team-section{
    width: 100%;
    padding: 80px 180px 140px;
    /* background-color: #228fce; */
    background: linear-gradient(90deg, #1d1944, #2291d0, #2380c3), url("../images/bg.jpg");
    border-top: 2px solid #FFF;
    /* background-image: url("../images/bg.jpg"); */
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-blend-mode: screen;
}
.our-team-section .our-values-head{
    flex-direction: column;
    align-items: center;
}
.our-team-section .our-values-head h2{
    margin-bottom: 20px;
}
.our-team-section .our-values-head p{
    color: #FFF;
    width: 70%;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.team-members-wrapper{
    padding: 60px 0 0;
}
.team-member {
    width: 95%;
    min-height: 620px;
    background: transparent;
    position: relative;
    /* border: 2px solid #FFF; */
    /* box-shadow: 0px 5px 25px rgba(255, 255, 255, 0.4), 0px -2px 10px rgba(255, 255, 255, 0.6); */
}
.team-slider .slick-list{padding:0 7% 0 0 !important;}
.team-member-img {
    width: 100%;
    overflow: hidden;
    border: 2px solid #FFF;
}
.team-member:hover .team-member-img img{
    transform: scale(1.1);
}
.team-member-img img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    transition: 0.4s ease-in-out;
}

.team-member-info {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    /* background: #228fce; */
    background: linear-gradient(90deg, #1d1944, #2291d0, #2380c3);
    border: 2px solid #FFF;
    overflow: hidden;
    /* box-shadow: 0px 5px 25px rgba(255, 255, 255, 0.4), 0px -2px 10px rgba(255, 255, 255, 0.6); */
}
.team-member-info h4{
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
}
.team-member-info p{
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px 0 0;
    position: absolute;
    bottom: -105%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(29, 25, 68, 0.4), rgba(34, 144, 208, 0.4), rgba(35, 128, 195, 0.4));
    backdrop-filter: blur(5px);
    transition: 0.4s ease-in-out;
}
.team-member-info:hover .social-icons{
    bottom: 0;
}
.social-icons img {
    filter: invert(0%) sepia(1%) saturate(7605%) hue-rotate(70deg) brightness(155%) contrast(92%);
}
.team-member-btn{
    padding: 120px 0 0;
    display: flex;
    justify-content: center;
}
.team-member-btn a{
    font-size: 18px;
    font-weight: 600;
    padding: 18px 60px;
    color: #228fce;
    background-color: #FFF;
    border-radius: 5px;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease-in-out;
    /* box-shadow: 0px 5px 25px rgba(255, 255, 255, 0.4), 0px -2px 10px rgba(255, 255, 255, 0.6); */
}
.team-member-btn a:hover{
    color: #FFF;
}
.team-member-btn a span{
    isolation: isolate;
}
.team-member-btn a::before{
    content: "";
    width: 0;
    height: 100%;
    background-color: gray;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    text-wrap: nowrap;
}
.team-member-btn a:hover::before{
    width: 100%;
}
/* OUR TEAM SECTION */
/* ABOUT SECTION */
.about-section{
    padding: 80px 180px 120px;
    width: 100%;
    /* background-color: #228fce; */
    background: linear-gradient(90deg, #1d1944, #2291d0, #2380c3);
}
.about-head{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0 20px; 
}
.about-head h5{
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px ;
}
.about-head h2{
    font-size: 80px;
    font-weight: 700;
    text-align: center;
    color: #FFF;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
}
.about-head h2::before{
    content: "";
    position: absolute;
    width: 8px;
    height: 90%;
    background-color: #FFF;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
}
.about-content-flex{
    padding-top: 60px;
    padding-bottom: 0px;
}
.about-content-flex img{
    width: 70%;
    height: 600px;
    object-fit: cover;
}
.about-content-flex h4{
    font-size: 34px;
    font-weight: 600;
    color: #FFF;
    margin-bottom: 15px;
    text-align: left;
}
.about-content-flex-img{
    position: relative;
    padding: 30px 0;
}
.about-content-flex-img::before{
    content: "";
    position: absolute;
    top: 0;
    left: 80px;
    width: 100px;
    height: 100px;
    border-top: 8px solid #FFF;
    border-left: 8px solid #FFF;
}
.about-content-flex-img::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 80px;
    width: 100px;
    height: 100px;
    border-bottom: 8px solid #FFF;
    border-right: 8px solid #FFF;
}
.about-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.about-content p{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 20px;
    color: #FFF;
    text-align: left;
}
.about-content a{
    font-size: 18px;
    font-weight: 600;
    padding: 18px 60px;
    color: #228fce;
    background-color: #FFF;
    border-radius: 5px;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease-in-out;
}
.about-content a:hover{
    color: #FFF;
}
.about-content a span{
    isolation: isolate;
}
.about-content a::before{
    content: "";
    width: 0;
    height: 100%;
    background-color: gray;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    text-wrap: nowrap;
}
.about-content a:hover::before{
    width: 100%;
}
/* ABOUT SECTION */
/* FLOATING BANNER SECTION */
.floating-banner{
    width: 100%;
    position: relative;
}
.floating-banner-image {
    position: relative;
    overflow: hidden;
}
.floating-banner-image img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    transition: 0.5s ease;
}
.floating-banner:hover img{
    transform: scale(1.1);
}
.floating-image-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    /* background-color: rgb(4 54 100 / 50%); */
    /* background-color: rgb(41 35 104 / 50%); */
    backdrop-filter: blur(2px);
    pointer-events: none;
    z-index: 1;
}
.floating-banner-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 180px;
    z-index: 2;
}
.floating-text{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.floating-text h3{
    width: 70%;
    font-size: 60px;
    line-height: 70px;
    font-weight: 900;
    color: #FFF;
    text-transform: uppercase;
}
.floating-text a{
    font-size: 18px;
    font-weight: 600;
    padding: 18px 60px;
    color: #fff;
    /* background-color: #228fce; */
    background: linear-gradient(90deg, #1d1944, #2291d0, #2380c3);
    border-radius: 5px;
    text-transform: uppercase;
    position: relative;
    background-size: 300% 300%;
    transition: all 0.3s ease;
    animation: gradientAnimation 4s infinite;
}
.floating-text a span{
    isolation: isolate;
}
.floating-text a::before{
    content: "";
    width: 0;
    height: 100%;
    background-color: gray;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    text-wrap: nowrap;
}
.floating-text a:hover::before{
    width: 100%;
}
/* FLOATING BANNER SECTION */
/* SERVICES SECTION */
.services-section{
    width: 100%;
    padding: 100px 180px 120px;
    background: url("../images/SRBG.jpg") no-repeat center/cover;
    position: relative;
}
.services-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    /* background-color: rgb(0 33 63 / 50%); */
    backdrop-filter: blur(2px);
    pointer-events: none;
}
.services-cards-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    row-gap: 20px;
    position: relative;
    z-index: 2;
    padding: 30px 0 0;
}
.services-card{
    width: 32%;
    height: 100%;
    padding: 40px 25px 40px 0;
    display: flex;
    align-items: center;
    gap: 30px;
    border: 3px solid #CCCCCC;
}
.services-section .our-values-head{
    flex-direction: column;
    align-items: center;
}
.services-section .our-values-head h2{
    color: #FFF;
    margin-bottom: 20px;
}
.services-section .our-values-head p{
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
    margin-bottom: 30px;
    position: relative;
}
.service-card-img{
    min-width: 80px;
    height: 80px;
    /* background-color: #228fce; */
    background: linear-gradient(90deg, #1d1944, #2291d0, #2380c3);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -3px;
}
.service-card-img img{
    width: 40px;
    height: 40px;
    object-fit: contain;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(176deg) brightness(103%) contrast(103%);
}
.services-card h4{
    font-size: 24px;
    font-weight: 700;
    color: #FFF;
    margin-bottom: 10px;
}
.services-card p{
    font-size: 16px;
    font-weight: 500;
    color: #FFF;
}
.services-btn{
    padding: 120px 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.services-btn a{
    font-size: 18px;
    font-weight: 600;
    padding: 18px 60px;
    color: #fff;
    /* background-color: #228fce; */
    background: linear-gradient(90deg, #1d1944, #2291d0, #2380c3);
    border-radius: 5px;
    text-transform: uppercase;
    position: relative;
    background-size: 300% 300%;
    transition: all 0.3s ease;
    animation: gradientAnimation 4s infinite;
}
.services-btn a span{
    isolation: isolate;
}
.services-btn a::before{
    content: "";
    width: 0;
    height: 100%;
    background-color: gray;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    text-wrap: nowrap;
}
.services-btn a:hover::before{
    width: 100%;
}
/* SERVICES SECTION */
/* CONTACT SECTION */
.contact-section{
    width: 100%;
    padding: 100px 180px;
    background: url("../images/BN5.jpg") no-repeat center/cover;
    position: relative;
}
.contact-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    /* background-color: rgb(0 33 63 / 50%); */
    backdrop-filter: blur(2px);
    pointer-events: none;
    z-index: 1;
    filter: blur(2px);
}
.contact-form-main{
    position: relative;
    z-index: 2;
}
.contact-section .our-values-head h2{
    color: #FFF;
}
.form-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 40px;
    position: relative;
}
.form-group label{
    font-size: 16px;
    font-weight: 500;
    color: #FFF;
}
.form-group input,
.form-group textarea{
    width: 100%;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid #ccc;
    outline: none;
    transition: 0.3s ease;
    resize: none;
    position: relative;
}
.form-group::before{
    content: "";
    width: 100%;
    height: 5px;
    /* background-color: #228fce; */
    background: linear-gradient(90deg, #1d1944, #2291d0, #2380c3);
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: 0.5s ease-in-out;
}
.form-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0 0;
}
.form-btn button{
    font-size: 18px;
    font-weight: 600;
    padding: 18px 60px;
    color: #fff;
    /* background-color: #228fce; */
    background: linear-gradient(90deg, #1d1944, #2291d0, #2380c3);
    border-radius: 5px;
    text-transform: uppercase;
    position: relative;
    outline: none;
    border: none;
    background-size: 300% 300%;
    transition: all 0.3s ease;
    animation: gradientAnimation 4s infinite;
}
.form-btn button span{
    isolation: isolate;
}
.form-btn button::before{
    content: "";
    width: 0;
    height: 100%;
    background-color: gray;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    text-wrap: nowrap;
}
.form-btn button:hover::before{
    width: 100%;
}
.file-form-group{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 20px 0 0;
}
.upload-file-name{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}
.file-form-group::before{
    display: none;
}
.file-form-group label{
    background-color: #FFF;
    padding: 15px 30px;
    color: #000;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 6px;
    cursor: pointer;
}
.file-form-group input{
    display: none;
}
/* CONTACT SECTION */
/* FOOTER  */
.footer{
    width: 100%;
    padding: 100px 180px 120px;
    position: relative;
}
.footer-logo{
    padding-bottom: 10px;
}
.footer-logo img{
    width: 300px;
    height: 150px;
    object-fit: contain;
}
.footer-text p{
    font-size: 18px;
    font-weight: 500;
    color: #181614;
}
.footer-menu{
    width: 100%;
    padding: 0 0 0 120px;
}
.footer-menu h4{
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    color: #181614;
    margin-bottom: 25px;
}
.footer-menu ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-menu ul li a{
    font-size: 16px;
    font-weight: 600;
    color: #181614;
    transition: 0.3s ease-in-out;
    position: relative;
}
.footer-menu ul li a::before{
    content: "";
    width: 0;
    height: 3px;
    background-color: #228fce;
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: 0.5s ease-in-out;
}
.footer-menu ul li a:hover::before,
.footer-menu ul li a.active::before{
    width: 100%;
}
.footer-menu ul li a:hover,
.footer-menu ul li a.active{
    color: #228fce
}
.footer-social{
    width: 100%;
}
.footer-social h4{
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    color: #181614;
    margin-bottom: 30px;
}
.footer-social ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-social ul li a{
    font-size: 16px;
    font-weight: 500;
    color: #181614;
    transition: 0.3s ease-in-out;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-bottom{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px 0;
    border-top: 1px solid #A6A19C;
    display: flex;
    justify-content: center;
}
.footer-bottom p{
    font-size: 16px;
    font-weight: 500;
    color: #181614;
}
.goToTopBtn a{
    position: absolute;
    right: 40px;
    bottom: 80px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* background-color: #228fce; */
    background: linear-gradient(90deg, #1d1944, #2291d0, #2380c3);
    background-size: 300% 300%;
    transition: all 0.3s ease;
    animation: gradientAnimation 4s infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-icons{
    padding-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}
/* FAQ  */
.faqs-section{
    width: 100%;
    padding: 60px 180px 100px;
    background: linear-gradient(90deg, #1d1944, #2291d0, #2380c3), url("../images/bg.jpg");
    /* background-image: url("../images/bg.jpg"); */
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-blend-mode: screen;
}
.faqs-section .accordion-button:not(.collapsed){
    /* background: linear-gradient(90deg, #1d1944, #2291d0, #2380c3); */
    background: #FFF;
    color: #000;
    box-shadow: none;
    border: 1px solid #000;
    border-bottom: 0;
}
.accordion-flush>.accordion-item>.accordion-header .accordion-button, .accordion-flush>.accordion-item>.accordion-header .accordion-button.collapsed{
    font-weight: 500;
    font-size: 20px;
}
.accordion-flush>.accordion-item>.accordion-collapse{
    border: 1px solid #000;
}
.accordion-flush>.accordion-item{
    margin-bottom: 30px;
}
.accordion-button::after{
    width: 25px;
    height: 25px;
    background-size: 25px;
}
.accordion-body{
    font-weight: 500;
}
.accordion-body ul{
    padding: 20px 0 20px 20px;
}
.accordion-body ul li{
    list-style: disc;
    padding: 5px 0;
}
.accordion-body a{
    color: #228fce;
}
/* FAQ  */
/* SERVICES PAGE */
.contact-section.services-page-section {
    background: url("../images/BN2.jpg") no-repeat center / cover;
}
/* SERVICES PAGE */
@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
/* FOOTER  */
/* RESPONSIVENESS */
@media only screen and (min-width: 320px) and (max-width: 529px) {
    main{padding:95px 0 0}
    .banner-slider .slide-image img,.banner-section{height: 70vh;}
    .file-form-group{flex-direction: column;padding: 25px 0;}
    .top-bar{padding:12px 20px 12px 20px;flex-direction: column;gap: 15px;display: none;}
    .top-bar-left{gap: 10px;flex-direction: column;align-items: flex-start;width: 100%;}
    .top-bar-right{flex-direction: row;align-items: flex-end;gap: 10px;width: 100%;}
    .top-bar-right a span{display: none;}
    .header{padding:10px 30px 15px 20px;top: 0;}
    .header-logo img{width: 160px;height: 70px;}
    .header-mobile .header-logo img{width:200px;height:90px}
    .header-links li a{font-size: 15px;}
    .header-links{gap: 50px;display: none;}
    .header-mobile-links{display: flex;}
    .header-link-tel a{width: 45px;height: 45px;}
    .header-link-tel img{width:18px;height:18px}
    .header-burger{display:block}
    .banner-slider .slide-content{padding:0 10px 0}
    .banner-slider .slide-content h2{max-width:100%;font-size:30px;line-height:35px;margin-bottom:25px}
    .banner-slider .slide-content p{font-size: 15px;max-width: 100%;}
    .banner-slider .slick-next, .banner-slider .slick-prev{width: 60px;height: 60px;}
    .banner-slider .slick-prev,.banner-slider .slick-next{background-size: 22px;}
    .banner-slider .slide-content a,.about-content a,.floating-text a,.services-btn a,.form-btn button,.team-member-btn a{font-size: 14px;padding: 15px 35px;}
    .about-section{padding:80px 0px 40px}
    .about-head{padding: 0;}
    .about-head h5{font-size:15px}
    .about-head h2{font-size: 32px;margin-bottom: 15px;}
    .about-head h2::before{left: -15px;width: 5px;}
    .about-content p{font-size:16px;line-height:28px;margin-bottom:40px}
    .floating-banner-content{padding: 10px 10px;}
    .floating-text h3{width:100%;font-size:22px;line-height:30px}
    .floating-banner-image img{height: 320px;}
    .floating-text{flex-direction: column;align-items: flex-start;justify-content: center;gap: 25px;}
    .our-values-section{padding:80px 0 100px}
    .our-values-head h2{font-size: 32px;margin-bottom: 50px;}
    .our-values-head h2::before{width: 5px;left: -15px;}
    .our-value-card h4{font-size: 20px;}
    .our-value-card p{font-size: 15px;}
    .services-section{padding:80px 0 100px}
    .services-section .our-values-head p{width:100%;text-align:center;font-size:15px;margin-bottom:20px}
    .services-card{min-height: 265px;width: 100%;flex-direction: column;align-items: flex-start;padding: 30px 15px;margin: 20px 0 30px;}
    .service-card-img{width: 70px;height: 70px;margin-left: 0;margin-top: -65px;}
    .service-card-img img {width:35px;height:35px}
    .services-card p{font-size: 15px;}
    .services-card h4{font-size: 20px;}
    .services-btn{padding: 40px 0 0;}
    .contact-section{padding: 100px 0 80px;}
    .footer-logo img{width: 220px;height: 120px;}
    .footer{padding: 40px 0 120px;}
    .footer-menu{padding: 30px 0 30px 0;}
    .footer-menu h4,.footer-social h4{font-size: 19px;}
    .footer-menu ul li a,.footer-social ul li a{font-size: 15px;}
    .footer-text p{font-size: 16px;}
    .footer-bottom p{font-size: 14px;}
    .about-content-flex{padding-top: 30px;}
    .about-content-flex h4{font-size: 22px;}
    .about-content-flex p{font-size: 15px;line-height: 26px;margin-bottom: 20px;}
    .about-content-flex img{height: 300px;width: 90%;}
    .about-content-flex-img::before{left: 0px;top: 15px;border-top-width: 4px;border-left-width: 4px;}
    .about-content-flex-img::after{right: 0px;bottom: 15px;border-bottom-width: 4px;border-right-width: 4px;}
    .our-team-section{padding: 80px 0 80px;}
    .our-team-section .our-values-head p{width: 100%;font-size: 15px;}
    .team-member-img img{height: 420px;}
    .team-member-info{padding: 20px;width: 90%;}
    .team-member-info h4{font-size: 20px;}
    .team-member-info p{font-size: 15px;}
    .team-member{margin-bottom: 80px;}
    .marquee-section{padding: 60px 0;}
    .about-content-flex-img{margin-bottom: 30px;}
    .team-member-btn{padding: 20px 0 0;}
    .form-group{margin-bottom: 20px;}
    .contact-section .our-values-head h2{margin-bottom: 20px;}
    .goToTopBtn a{right:20px;bottom:70px;width:50px;height:50px}
    .our-values-content .row{row-gap: 50px;}
    .faqs-section{padding: 60px 0 100px;}
    .accordion-flush>.accordion-item>.accordion-header .accordion-button, .accordion-flush>.accordion-item>.accordion-header .accordion-button.collapsed{font-size: 16px;}
    .accordion-button::after{width:15px;height:15px;background-size:15px}
}
@media only screen and (min-width: 375px) and (max-width: 424px) {
}
@media only screen and (min-width: 425px) and (max-width: 529px) {
}
@media only screen and (min-width: 530px) and (max-width: 767px) {
    main{padding:122px 0 0}
    .banner-slider .slide-image img,.banner-section{height: 70vh;}
    .file-form-group{flex-direction: column;padding: 25px 0;}
    .top-bar{padding:12px 20px 12px 20px;flex-direction: row;gap: 15px;display: none;}
    .top-bar-left{gap: 10px;flex-direction: column;align-items: flex-start;}
    .top-bar-right{flex-direction: column;align-items: flex-end;gap: 10px;}
    .header{padding:10px 30px 15px 20px;top: 0;}
    .header-links li a{font-size: 15px;}
    .header-links{gap: 50px;display: none;}
    .header-mobile-links{display: flex;}
    .header-link-tel a{width: 45px;height: 45px;}
    .header-link-tel img{width:18px;height:18px}
    .header-burger{display:block}
    .banner-slider .slide-content{padding:0 20px 0}
    .banner-slider .slide-content h2{max-width:100%;font-size:45px;line-height:55px;margin-bottom:25px}
    .banner-slider .slide-content p{font-size: 16px;max-width: 100%;}
    .banner-slider .slick-next, .banner-slider .slick-prev{width: 60px;height: 60px;}
    .banner-slider .slick-prev,.banner-slider .slick-next{background-size: 22px;}
    .banner-slider .slide-content a,.about-content a,.floating-text a,.services-btn a,.form-btn button,.team-member-btn a{font-size: 15px;padding: 16px 40px;}
    .about-section{padding:80px 20px 120px}
    .about-head{padding: 0;}
    .about-head h5{font-size:16px}
    .about-head h2{font-size: 45px;margin-bottom: 15px;}
    .about-content p{font-size:16px;line-height:28px;margin-bottom:40px}
    .floating-banner-content{padding: 10px 20px;}
    .floating-text h3{width:100%;font-size:30px;line-height:40px}
    .floating-banner-image img{height: 320px;}
    .floating-text{flex-direction: column;align-items: flex-start;justify-content: center;gap: 25px;}
    .our-values-section{padding:80px 20px 100px}
    .our-values-head h2{font-size: 45px;margin-bottom: 50px;}
    .our-value-card h4{font-size: 20px;}
    .our-value-card p{font-size: 15px;}
    .services-section{padding:80px 20px 100px}
    .services-section .our-values-head p{width:100%;text-align:center;font-size:16px;margin-bottom:20px}
    .services-card{min-height: 265px;width: 100%;}
    .service-card-img{width: 70px;height: 70px;}
    .service-card-img img {width:35px;height:35px}
    .services-card h4{font-size: 22px;}
    .contact-section{padding: 100px 20px;}
    .footer{padding: 40px 20px 120px;}
    .footer-menu{padding: 30px 0 30px 0;}
    .footer-menu h4,.footer-social h4{font-size: 19px;}
    .footer-menu ul li a,.footer-social ul li a{font-size: 15px;}
    .footer-text p{font-size: 16px;}
    .footer-bottom p{font-size: 14px;}
    .about-content-flex h4{font-size: 28px;}
    .about-content-flex p{font-size: 16px;line-height: 26px;margin-bottom: 20px;}
    .about-content-flex img{height: 500px;width: 80%;}
    .about-content-flex-img::before{left: 10px;}
    .about-content-flex-img::after{right: 10px;}
    .our-team-section{padding: 80px 20px 140px;}
    .our-team-section .our-values-head p{width: 100%;font-size: 16px;}
    .team-member-img img{height: 420px;}
    .team-member-info{padding: 20px;}
    .team-member-info h4{font-size: 20px;}
    .team-member-info p{font-size: 15px;}
    .team-member{margin-bottom: 80px;}
    .marquee-section{padding: 60px 0;}
    .about-content-flex-img{margin-bottom: 30px;}
    .team-member-btn{padding: 40px 0 0;}
    .our-values-content .row{row-gap: 50px;}
    .faqs-section{padding: 60px 20px 100px;}
    .accordion-flush>.accordion-item>.accordion-header .accordion-button, .accordion-flush>.accordion-item>.accordion-header .accordion-button.collapsed{font-size: 16px;}
    .accordion-button::after{width:15px;height:15px;background-size:15px}
}
@media only screen and (min-width:768px) and (max-width: 991px) {
    main{padding:190px 0 0}
    .top-bar{padding:12px 20px 12px 20px;flex-direction: column;gap: 15px;}
    .top-bar-left{gap: 30px;}
    .header{padding:10px 30px 15px 20px;top: 75px;}
    .header-links li a{font-size: 15px;}
    .header-links{gap: 50px;display: none;}
    .header-mobile-links{display: flex;}
    .header-link-tel a{width: 45px;height: 45px;}
    .header-link-tel img{width:18px;height:18px}
    .header-burger{display:block}
    .banner-slider .slide-content{padding:0 20px 0}
    .banner-slider .slide-content h2{max-width:100%;font-size:45px;line-height:55px;margin-bottom:25px}
    .banner-slider .slide-content p{font-size: 16px;max-width: 100%;}
    .banner-slider .slick-next, .banner-slider .slick-prev{width: 60px;height: 60px;}
    .banner-slider .slick-prev,.banner-slider .slick-next{background-size: 22px;}
    .banner-slider .slide-content a,.about-content a,.floating-text a,.services-btn a,.form-btn button,.team-member-btn a{font-size: 16px;padding: 16px 50px;}
    .about-section{padding:80px 20px 120px}
    .about-head h5{font-size:16px}
    .about-head h2{font-size: 45px;margin-bottom: 15px;}
    .about-content p{font-size:16px;line-height:28px;margin-bottom:40px}
    .floating-banner-content{padding: 10px 20px;}
    .floating-text h3{width:100%;font-size:35px;line-height:45px}
    .floating-banner-image img{height: 320px;}
    .floating-text{flex-direction: column;align-items: flex-start;justify-content: center;gap: 25px;}
    .our-values-section{padding:80px 20px 100px}
    .our-values-head h2{font-size: 45px;margin-bottom: 50px;}
    .our-value-card h4{font-size: 20px;}
    .our-value-card p{font-size: 15px;}
    .services-section{padding:80px 20px 100px}
    .services-section .our-values-head p{width:100%;text-align:center;font-size:16px;margin-bottom:20px}
    .services-card{min-height: 265px;width: 100%;}
    .service-card-img{width: 70px;height: 70px;}
    .service-card-img img {width:35px;height:35px}
    .services-card h4{font-size: 22px;}
    .contact-section{padding: 100px 20px;}
    .footer{padding: 40px 20px 120px;}
    .footer-menu{padding: 30px 0 30px 0;}
    .footer-menu h4,.footer-social h4{font-size: 19px;}
    .footer-menu ul li a,.footer-social ul li a{font-size: 15px;}
    .footer-text p{font-size: 16px;}
    .footer-bottom p{font-size: 14px;}
    .about-content-flex h4{font-size: 28px;}
    .about-content-flex p{font-size: 16px;line-height: 26px;}
    .about-content-flex img{height: 500px;width: 80%;}
    .about-content-flex-img::before{left: 40px;}
    .about-content-flex-img::after{right: 40px;}
    .our-team-section{padding: 80px 20px 140px;}
    .team-member-img img{height: 420px;}
    .team-member-info{padding: 20px;}
    .team-member-info h4{font-size: 20px;}
    .team-member-info p{font-size: 15px;}
    .team-member{margin-bottom: 80px;}
    .marquee-section{padding: 60px 0;}
    .about-content-flex-img{margin-bottom: 30px;}
    .our-values-content .row{row-gap: 50px;}
    .faqs-section{padding: 60px 20px 100px;}
    .accordion-flush>.accordion-item>.accordion-header .accordion-button, .accordion-flush>.accordion-item>.accordion-header .accordion-button.collapsed{font-size: 18px;}
}
@media only screen and (min-width:992px) and (max-width: 1199px) {
    .top-bar{padding:12px 20px 12px 20px}
    .top-bar-left{gap: 30px;}
    .header{padding:10px 20px 15px}
    .header-links li a{font-size: 15px;}
    .header-links{gap: 50px;}
    .header-link-tel a{width: 45px;height: 45px;}
    .header-link-tel img{width:18px;height:18px}
    .banner-slider .slide-content{padding:0 20px 0}
    .banner-slider .slide-content h2{max-width:55%;font-size:50px;line-height:55px;margin-bottom:25px}
    .banner-slider .slide-content p{font-size: 16px;}
    .banner-slider .slick-next, .banner-slider .slick-prev{width: 60px;height: 60px;}
    .banner-slider .slick-prev,.banner-slider .slick-next{background-size: 22px;}
    .banner-slider .slide-content a,.about-content a,.floating-text a,.services-btn a,.form-btn button,.team-member-btn a{font-size: 16px;padding: 16px 50px;}
    .about-section{padding:80px 20px 120px}
    .about-head h5{font-size:16px}
    .about-head h2{font-size: 50px;margin-bottom: 15px;}
    .about-content p{font-size:16px;line-height:28px;margin-bottom:40px}
    .floating-banner-content{padding: 10px 20px;}
    .floating-text h3{width:65%;font-size:35px;line-height:45px}
    .floating-banner-image img{height: 320px;}
    .our-values-section{padding:80px 20px 100px}
    .our-values-head h2{font-size: 50px;margin-bottom: 50px;}
    .our-value-card h4{font-size: 20px;}
    .our-value-card p{font-size: 15px;}
    .services-section{padding:80px 20px 100px}
    .services-section .our-values-head p{width:70%;text-align:center;font-size:16px;margin-bottom:20px}
    .services-card{min-height: 265px;width: 48%;}
    .service-card-img{width: 70px;height: 70px;}
    .service-card-img img {width:35px;height:35px}
    .services-card h4{font-size: 22px;}
    .contact-section{padding: 100px 20px;}
    .footer{padding: 80px 20px 120px;}
    .footer-menu h4,.footer-social h4{font-size: 19px;}
    .footer-menu ul li a,.footer-social ul li a{font-size: 15px;}
    .footer-text p{font-size: 16px;}
    .footer-bottom p{font-size: 14px;}
    .about-content-flex h4{font-size: 28px;}
    .about-content-flex p{font-size: 16px;line-height: 26px;}
    .about-content-flex img{height: 500px;}
    .about-content-flex-img::before{left: 40px;}
    .about-content-flex-img::after{right: 40px;}
    .our-team-section{padding: 80px 20px 140px;}
    .team-member-img img{height: 420px;}
    .team-member-info{padding: 20px;}
    .team-member-info h4{font-size: 20px;}
    .team-member-info p{font-size: 15px;}
    .marquee-section{padding: 60px 0;}
    .our-values-content .row{row-gap: 50px;}
    .faqs-section{padding: 60px 20px 100px;}
    .accordion-flush>.accordion-item>.accordion-header .accordion-button, .accordion-flush>.accordion-item>.accordion-header .accordion-button.collapsed{font-size: 18px;}
}
@media only screen and (min-width:1200px) and (max-width: 1365px) {
    .top-bar{padding:12px 80px 12px 120px}
    .top-bar-left{gap: 40px;}
    .header{padding:10px 80px 15px}
    .header-links li a{font-size: 15px;}
    .header-links{gap: 65px;}
    .header-link-tel a{width: 45px;height: 45px;}
    .header-link-tel img{width:18px;height:18px}
    .banner-slider .slide-content{padding:0 80px 0}
    .banner-slider .slide-content h2{max-width:55%;font-size:60px;line-height:65px;margin-bottom:25px}
    .banner-slider .slide-content p{font-size: 16px;}
    .banner-slider .slick-next, .banner-slider .slick-prev{width: 60px;height: 60px;}
    .banner-slider .slick-prev,.banner-slider .slick-next{background-size: 22px;}
    .banner-slider .slide-content a,.about-content a,.floating-text a,.services-btn a,.form-btn button,.team-member-btn a{font-size: 16px;padding: 16px 50px;}
    .about-section{padding:80px 80px 120px}
    .about-head h5{font-size:16px}
    .about-head h2{font-size: 60px;margin-bottom: 15px;}
    .about-content p{font-size:16px;line-height:28px;margin-bottom:40px}
    .floating-banner-content{padding: 10px 80px;}
    .floating-text h3{width:65%;font-size:45px;line-height:55px}
    .floating-banner-image img{height: 400px;}
    .our-values-section{padding:80px 80px 100px}
    .our-values-head h2{font-size: 60px;margin-bottom: 50px;}
    .our-value-card h4{font-size: 20px;}
    .our-value-card p{font-size: 15px;}
    .services-section{padding:80px 80px 100px}
    .services-section .our-values-head p{width:70%;text-align:center;font-size:16px;margin-bottom:20px}
    .services-card{min-height: 365px;}
    .service-card-img{width: 70px;height: 70px;}
    .service-card-img img {width:35px;height:35px}
    .services-card h4{font-size: 22px;}
    .contact-section{padding: 100px 80px;}
    .footer{padding: 100px 80px 120px;}
    .footer-menu h4,.footer-social h4{font-size: 20px;}
    .footer-menu ul li a,.footer-social ul li a{font-size: 15px;}
    .footer-text p{font-size: 16px;}
    .footer-bottom p{font-size: 14px;}
    .about-content-flex h4{font-size: 28px;}
    .about-content-flex p{font-size: 16px;line-height: 26px;}
    .about-content-flex img{height: 500px;}
    .about-content-flex-img::before{left: 55px;}
    .about-content-flex-img::after{right: 55px;}
    .our-team-section{padding: 80px 80px 140px;}
    .team-member-info h4{font-size: 22px;}
    .team-member-info p{font-size: 16px;}
    .faqs-section{padding: 60px 80px 100px;}
    .accordion-flush>.accordion-item>.accordion-header .accordion-button, .accordion-flush>.accordion-item>.accordion-header .accordion-button.collapsed{font-size: 18px;}
}
@media only screen and (min-width:1366px) and (max-width: 1439px) {
    .top-bar{padding:12px 80px 12px 120px}
    .top-bar-left{gap: 40px;}
    .header{padding:10px 80px 15px}
    .header-links li a{font-size: 15px;}
    .header-links{gap: 65px;}
    .header-link-tel a{width: 45px;height: 45px;}
    .header-link-tel img{width:18px;height:18px}
    .banner-slider .slide-content{padding:0 80px 0}
    .banner-slider .slide-content h2{max-width:55%;font-size:60px;line-height:65px;margin-bottom:25px}
    .banner-slider .slide-content p{font-size: 16px;}
    .banner-slider .slick-next, .banner-slider .slick-prev{width: 60px;height: 60px;}
    .banner-slider .slick-prev,.banner-slider .slick-next{background-size: 22px;}
    .banner-slider .slide-content a,.about-content a,.floating-text a,.services-btn a,.form-btn button,.team-member-btn a{font-size: 16px;padding: 16px 50px;}
    .about-section{padding:80px 80px 120px}
    .about-head h5{font-size:16px}
    .about-head h2{font-size: 60px;margin-bottom: 15px;}
    .about-content p{font-size:16px;line-height:28px;margin-bottom:40px}
    .floating-banner-content{padding: 10px 80px;}
    .floating-text h3{width:65%;font-size:45px;line-height:55px}
    .floating-banner-image img{height: 400px;}
    .our-values-section{padding:80px 80px 100px}
    .our-values-head h2{font-size: 60px;margin-bottom: 50px;}
    .our-value-card h4{font-size: 20px;}
    .our-value-card p{font-size: 15px;}
    .services-section{padding:80px 80px 100px}
    .services-section .our-values-head p{width:70%;text-align:center;font-size:16px;margin-bottom:20px}
    .services-card{min-height: 365px;}
    .service-card-img{width: 70px;height: 70px;}
    .service-card-img img {width:35px;height:35px}
    .services-card h4{font-size: 22px;}
    .contact-section{padding: 100px 80px;}
    .footer{padding: 100px 80px 120px;}
    .footer-menu h4,.footer-social h4{font-size: 20px;}
    .footer-menu ul li a,.footer-social ul li a{font-size: 15px;}
    .footer-text p{font-size: 16px;}
    .footer-bottom p{font-size: 14px;}
    .about-content-flex h4{font-size: 28px;}
    .about-content-flex p{font-size: 16px;line-height: 26px;}
    .about-content-flex img{height: 500px;}
    .about-content-flex-img::before{left: 55px;}
    .about-content-flex-img::after{right: 55px;}
    .our-team-section{padding: 80px 80px 140px;}
    .team-member-info h4{font-size: 22px;}
    .team-member-info p{font-size: 16px;}
    .faqs-section{padding: 60px 80px 100px;}
    .accordion-flush>.accordion-item>.accordion-header .accordion-button, .accordion-flush>.accordion-item>.accordion-header .accordion-button.collapsed{font-size: 18px;}
}
@media only screen and (min-width: 1440px) and (max-width: 1599px){
    .top-bar{padding: 12px 100px 12px 140px;}
    .header{padding: 10px 100px 15px;}
    .banner-slider .slide-content{padding: 0 100px 0;}
    .about-section{padding: 80px 100px 120px;}
    .floating-banner-content{padding: 10px 100px;}
    .services-section{padding: 100px 100px 120px;}
    .footer{padding: 100px 100px 120px;}
    .our-team-section{padding: 80px 100px 140px;}
    .contact-section{padding: 100px 100px;}
    .about-content-flex-img::before{left: 60px;}
    .about-content-flex-img::after{right: 60px;}
    .about-head h2,.our-values-head h2{font-size: 60px;}
    .floating-text h3{font-size: 50px;line-height: 60px;}
    .services-section .our-values-head p{width: 70%;text-align: center;}
    .banner-slider .slide-content h2{max-width:50%;font-size:60px;line-height:60px}
    .our-values-section{padding: 100px 100px 160px;}
    .faqs-section{padding: 60px 100px 100px;}
}
@media only screen and (min-width: 1600px) and (max-width: 1900px) {
    .top-bar{padding: 12px 150px 12px 190px;}
    .header{padding: 10px 150px 15px;}
    .banner-slider .slide-content{padding: 0 150px 0;}
    .about-section{padding: 80px 150px 120px;}
    .floating-banner-content{padding: 10px 150px;}
    .services-section{padding: 100px 150px 120px;}
    .footer{padding: 100px 150px 120px;}
    .our-team-section{padding: 80px 150px 140px;}
    .contact-section{padding: 100px 150px;}
    .about-content-flex-img::before{left: 65px;}
    .about-content-flex-img::after{right: 65px;}
    .about-head h2,.our-values-head h2{font-size: 70px;}
    .floating-text h3{font-size: 55px;line-height: 65px;}
    .services-section .our-values-head p{width: 70%;text-align: center;}
    .banner-slider .slide-content h2{max-width:60%;font-size:70px;line-height:70px}
    .our-values-section{padding: 100px 150px 160px;}
    .faqs-section{padding: 60px 150px 100px;}
}
@media only screen and (min-width: 1680px) and (max-width: 1919px){
    .top-bar{padding: 12px 150px 12px 190px;}
    .header{padding: 10px 150px 15px;}
    .banner-slider .slide-content{padding: 0 150px 0;}
    .about-section{padding: 80px 150px 120px;}
    .floating-banner-content{padding: 10px 150px;}
    .services-section{padding: 100px 150px 120px;}
    .footer{padding: 100px 150px 120px;}
    .our-team-section{padding: 80px 150px 140px;}
    .contact-section{padding: 100px 150px;}
    .about-content-flex-img::before{left: 65px;}
    .about-content-flex-img::after{right: 65px;}
    .about-head h2,.our-values-head h2{font-size: 70px;}
    .floating-text h3{font-size: 55px;line-height: 65px;}
    .services-section .our-values-head p{width: 70%;text-align: center;}
    .banner-slider .slide-content h2{max-width:60%;font-size:70px;line-height:70px}
    .our-values-section{padding: 100px 150px 160px;}
    .faqs-section{padding: 60px 150px 100px;}
}
@media only screen and (min-width: 2560px) {
}
/* RESPONSIVENESS */